* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: lavender;

    transition: 1s all;
    animation-duration: 2s;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.dt{
    margin: 20px auto;
    text-align: center;
}
.time{
    font-size: 10rem;
}
.date{
    font-size: 3.5rem;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-transform: uppercase;
    font-family: monospace;
    margin: 40px;
    font-size: 20px;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;    
    width: 120px;
    height: 60px;
    border-radius: 35px;
    background-color: grey;
}

.circle {
    height: 55px;
    width: 55px;
    background-color: black;
    border-radius: 50%;
    transition: 0.6s all;
    animation: 3s;
}
.greet{
    width: 100%;
    margin: 30px auto;
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
}